#sobre-nosotros > article > div > header h3,
#servicios > header h3,
#contacto > section > aside > header > h3 {
    font-size: 1.75em;
}

/*----------NAVBAR----------*/

.navbar .navbar-logo {
    width: 13em;
}


.navbar .navbar-responsive {
    display: none;
}

/*----------HOME----------*/

#inicio figcaption article {
    max-width: 50%;
}

#inicio .home-text span {
    font-size: 4em;
}

#inicio .home-text em {
    font-size: 2em;
}

#inicio .home-text p {
    font-size: 1.125em;
}

/*----------SERVICIOS----------*/

#servicios > ul {
    padding: 1em;
}

#servicios > ul > li:nth-child(2) {
    transform: scale(1.125);
}

#servicios .item {
    min-height: 25em;
}

#servicios .item > header {
    font-size: 1.125em;
}

/*----------SOBRE NOSOTROS----------*/

#sobre-nosotros > article > aside {
    width: 50%;
}

#sobre-nosotros > article > div > header span {
    font-size: 0.75em;
}

#sobre-nosotros .personas > li > header > img {
    height: 15em;
}

#sobre-nosotros .personas article span {
    max-width: 15em;
}

#sobre-nosotros > article > div > header {
    margin-bottom: 2.5em; 
}

/*----------CONTACTO----------*/

#contacto > section aside {
    width: 35%;
}

#contacto > section article {
    flex: 1;
    display: flex;
    justify-content: end;
}

#contacto .form {
    width: 70%;
    padding: 3em;
}

#contacto > section > aside > header > span {
    font-size: .9em;
}

#contacto .form > div > span {
    font-size: .9em;
}

/*---------FOOTER---------*/

.footer > section {
    grid-template-columns: repeat(3, 1fr);
}

.footer .footer-brand {
    align-items: center;
}

.footer .footer-links,
.footer .footer-socials {
    align-items: center;
}

.footer .footer-brand > span {
    font-size: .75em;
    width: 20em;
}

/*--------------------*/

.start-animation.inView svg {
    width: 80%;
    margin-left: auto;
}