/*----------NAVBAR----------*/

.navbar .navbar-logo {
    width: 13em;
}

.navbar .navbar-responsive {
    display: none;
}

.navbar ul li a::after{
    content: "";
    width: 0.5em;
    height: 0.125em;
    background-color: transparent;
    transition: all 0.5s;
    display: block;
    margin: 0 auto;
}

.navbar ul li a:hover::after{
    content: "";
    width: 1.5em;
    height: 0.125em;
    background-color: var(--secondary);
    display: block;
    margin: 0 auto;
}

/*----------HOME----------*/

#inicio figcaption article {
    max-width: 80%;
}

/*----------SERVICIOS----------*/

#servicios > div{
    display: none;
}

#servicios > ul {
    gap: 1em;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
}

#servicios > ul > li:nth-child(2) {
    transform: scale(1.125);
}

#servicios .item {
    min-height: 25em;

    margin: 2em 0.5em;
    position: relative;
    transform-style: preserve-3d;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

#servicios > ul:hover .item,
#servicios > ul:focus .item,
#servicios > ul:active .item {
	transform: perspective(500px) rotateY(30deg);
}

#servicios > ul .item:hover,
#servicios > ul .item:focus,
#servicios > ul .item:active {
	transform: perspective(500px) rotateY(0);
}

#servicios > ul .item:hover ~ .item,
#servicios > ul .item:focus ~ .item,
#servicios > ul .item:active ~ .item {
	transform: perspective(500px) rotateY(-30deg);
}

#servicios .item > header {
    margin-top: 2em;
}

#servicios .item > header > strong {
    white-space: initial;
    font-size: 1.25em;
}

/*----------SOBRE NOSOTROS----------*/

#sobre-nosotros > article > aside {
    width: 50%;
    display: flex;
}

#sobre-nosotros > article > aside > svg {
    width: 80%;
    margin-left: auto;
    margin-right: 4em;
}

#sobre-nosotros > article > div {
    max-width: 40em;
}

#sobre-nosotros .personas {
    margin-top: 4em;
}

#sobre-nosotros .personas > li > header > img {
    height: 15em;
}

#sobre-nosotros .personas article span {
    max-width: 15em;
}

/*----------CONTACTO----------*/

#contacto > section aside {
    width: 35%;
}

#contacto > section article {
    flex: 1;
    display: flex;
    justify-content: end;
}

#contacto .form {
    width: 70%;
    padding: 3em;
}

/*---------FOOTER---------*/

.footer > section {
    grid-template-columns: repeat(3, 1fr);
}

.footer .footer-brand {
    align-items: start;
    width: 15em;
}

.footer .footer-links, 
.footer .footer-socials {
    align-items: start;
    width: 8em;
}

.footer .footer-brand > span {
    font-size: .875em;
}

/*--------------------*/

.start-animation.inView svg {
    width: 80%;
    margin-left: auto;
}

.start-animation > div {
    display: none;
} 

.start-animation.inView > div{
    display: flex;
    transition: all 0.5s;
    animation: translate2 1s ease-in-out;
    flex-direction: column;
}

@keyframes translate2 {
    0% {
        transform: translateX(30em);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}