

.icon {
    width: 2em;
    height: 2em;
    display: block;
    background-color: black;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}

.icon.menu {
    mask-image: url('../icons/menu.svg');
    -webkit-mask-image: url('../icons/menu.svg');
}

.icon.instagram {
    mask-image: url('../icons/instagram.svg');
    -webkit-mask-image: url('../icons/instagram.svg');
}

.icon.mail {
    mask-image: url('../icons/mail.svg');
    -webkit-mask-image: url('../icons/mail.svg');
}

.icon.close {
    mask-image: url('../icons/close.svg');
    -webkit-mask-image: url('../icons/close.svg');
}

.icon.check {
    mask-image: url('../icons/check.svg');
    -webkit-mask-image: url('../icons/check.svg');
}