.icon {
    width: 2em;
    height: 2em;
    display: block;
    background-color: black;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}

.icon.menu {
    mask-image: url('../icons/menu.svg');
    -webkit-mask-image: url('../icons/menu.svg');
}

.icon.instagram {
    mask-image: url('../icons/instagram.svg');
    -webkit-mask-image: url('../icons/instagram.svg');
}

.icon.mail {
    mask-image: url('../icons/mail.svg');
    -webkit-mask-image: url('../icons/mail.svg');
}

.icon.close {
    mask-image: url('../icons/close.svg');
    -webkit-mask-image: url('../icons/close.svg');
}

.icon.check {
    mask-image: url('../icons/check.svg');
    -webkit-mask-image: url('../icons/check.svg');
}

.icon.about-us {
    mask-image: url('../icons/about-us.svg');
    -webkit-mask-image: url('../icons/about-us.svg');
}

.icon.home {
    mask-image: url('../icons/home.svg');
    -webkit-mask-image: url('../icons/home.svg');
}

.icon.service {
    mask-image: url('../icons/service.svg');
    -webkit-mask-image: url('../icons/service.svg');
}

.icon.linkedin {
    mask-image: url('../icons/linkedin.svg');
    -webkit-mask-image: url('../icons/linkedin.svg');
}

.icon.rocket {
    mask-image: url('../icons/rocket.svg');
    -webkit-mask-image: url('../icons/rocket.svg');
}

.icon.right-arrow{
    mask-image: url('../icons/right-arrow.svg');
    -webkit-mask-image: url('../icons/right-arrow.svg');
}

.icon.coffee {
    mask-image: url('../icons/coffee.svg');
    -webkit-mask-image: url('../icons/coffee.svg');
}