
body {
    font-size: 3.5vw;
}

/*----------NAVBAR----------*/

.navbar .navbar-logo {
    width: 10em;
}

.navbar .navbar-responsive .icon {
    cursor: pointer;
}

.navbar.top .navbar-responsive .icon {
    background-color: white;
}

.navbar .navbar-responsive article.popup .icon {
    background-color: var(--primary);
    margin-right: .625em;
}

.navbar > ul,
.navbar .navbar-buttons {
    display: none;
}

.navbar ul li {
    width: 100%;
    padding-left: 1.5em;
}

.navbar .navbar-responsive > article{
    display: none;
}

.navbar .navbar-responsive input {
    display: none;
}

.navbar .navbar-responsive input:checked + article {
    display: flex;

    align-items: center;
    justify-content: center;
}

.navbar .navbar-responsive > article {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
}

.navbar .navbar-responsive > article ul {
    background-color: white;
    z-index: 1;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    width: 80%;
}

.navbar .navbar-responsive input:checked + article ul {
    transition: all .5s;
    animation: popup 1s ease-in-out ;
}

.navbar .navbar-responsive > article ul li a {
    color: black;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar .navbar-responsive .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .4;

    height: 100vh;
}

.navbar .navbar-responsive .menu-close {
    width: 100%;
    padding: 0;
}

.navbar .navbar-responsive .menu-close em {
    font-weight: bolder;
    font-style: normal;
}

.navbar .navbar-responsive .menu-close label{
    width: 100%;
    display: flex;
    justify-content: end;
}

.navbar .navbar-responsive .menu-close .icon.close {
    background-color: black;
    margin: 0;
    cursor: pointer;
}

.navbar .navbar-responsive .popup ul li a span{
    font-weight: bold;
}

.navbar .navbar-responsive ul li a span::after{
    content: "";
    width: 0.5em;
    height: 0.125em;
    background-color: transparent;
    transition: all 0.5s;
    display: block;
}

.navbar .navbar-responsive ul li a span:hover::after{
    content: "";
    width: 1.5em;
    height: 0.125em;
    background-color: var(--secondary);
    display: block;
}

/*----------HOME----------*/

#inicio figcaption article {
    max-width: 100%;
    margin-inline: 1em;
}

/*----------SERVICIOS----------*/

#servicios > div {
    position: absolute;
    right: 1em;
    display: flex;
    align-items: center;
    justify-content: end;
}

#servicios > div > i {
    width: 3.5em;
    height: 3.5em;
    transition: all .5s;
    animation: right-arrow 2s ease-in-out infinite;
}

#servicios > ul {
    overflow-x: auto;
    white-space: nowrap;
    gap: 2em;
    width: 100%;
    justify-content: space-evenly;
    scroll-snap-type: x mandatory;
}

#servicios .item {
    width: 100%;
    scroll-snap-align: center;
    flex: none;
}

#servicios .item > div {
    position: initial;
}

#servicios .item > div::before {
    display: none;
}

#servicios .item > header {
    max-width: 100%;
    margin-top: 1em;
}

#servicios .item > header > strong {
    white-space: initial;
    font-size: 1.75em;
}

#servicios .item > header > span {
    white-space: initial;
    font-size: 0.8em;
}

#servicios .item > article{
    margin-top: .5em;
}

#servicios footer {
    text-align: center;
}

#servicios .item > .ribbon {
    margin-left: -2em;
    margin-right: -2em;
}

/*----------SOBRE NOSOTROS---------*/

#sobre-nosotros > article {
    flex-direction: column;
}

#sobre-nosotros .personas {
    flex-direction: column;
    gap: 2em;
    margin-top: 6em;
}

#sobre-nosotros > article > aside {
    width: 100%;
}

#sobre-nosotros > article > div > header {
    margin-bottom: 2em; 
}

#sobre-nosotros .personas > li {
    width: 100%;
}

#sobre-nosotros .personas > li:last-child {
    margin-top: 2em;
}

#sobre-nosotros .personas > li > header {
    display: flex;
    justify-content: center;
}

#sobre-nosotros .personas > li > header > img {
    width: 70%;
    height: auto;
}

#sobre-nosotros .personas article {
    width: 100%;
}

/*----------CONTACTO----------*/

#contacto .container-mail {
    display: none;
}

#contacto .form .container-mail > div > label img {
    width: 2em;
    height: 2em;
}

#contacto {
    padding-top: 3em;
    padding-bottom: 3em;
}

#contacto .row {
    flex-direction: column;
}

#contacto .contact-info {
    margin-bottom: 2.5em;
    width: 100%;
}

#contacto .contact-form {
    width: 100%;
}


#contacto .contact-form .input-box input:focus ~ span,
#contacto .contact-form .input-box textarea:focus ~ span,
#contacto .contact-form .input-box textarea.input-active ~ span,
#contacto .contact-form .input-box input.input-active ~ span{
    color: var(--primary);
    transform: translateY(-1.5em);
}

/*----------FOOTER----------*/

.footer > section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    width: 100%;
    padding: 2em;
}

.footer .footer-brand {
    align-items: center;
}

.footer .footer-links,
.footer .footer-socials {
    align-items: center;
}

.footer .footer-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .footer-brand > span {
    width: 100%;
    text-align: center;
}

.footer .footer-links > ul > li {
    margin-block: .25em;
}

.footer .footer-socials > ul > li {
    margin-inline: .5em;
}

.footer .footer-socials > ul > li img {
    width: 3.5em;
}

/*--------------------*/

.start-animation.inView svg {
    width: 100%
}

/*--------------------*/

@keyframes popup {
    0% {
        transform: translateY(2em);
        opacity: .7;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes right-arrow {
    0% {
        transform: translateX(1em);
        opacity: 1;
    }
    100% {
        transform: translateX(0px);
        opacity: .7;
    }
}

/*--------------------*/

@media screen and (min-width:600px) and (max-width:960px) {
    #inicio figcaption article {
        margin-inline: 3em;
    }

    #inicio .home-text em {
        font-size: 1.325em;
    }

    #inicio .home-text span {
        font-size: 1.25em;
    }

    #inicio .home-text p {
        font-size: .625em;
    }

    #inicio figcaption article footer a {
        font-size: .5em;
    }

    #inicio figcaption article {
        gap: 1em;
    }
}

@media screen and (max-width:599px) {
    #inicio .home-text em {
        font-size: 2em;
    }

    #inicio .home-text span {
        font-size: 1.75em;
    }

    #inicio .home-text p {
        font-size: .9em;
    }

    #inicio figcaption article footer a {
        font-size: .875em;
    }
}
