:root {
    --primary: #079992;
    --secondary: #38ada9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ::-webkit-scrollbar {
    width: .25rem;
}

::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
    border-radius: .2em;
    background-color: rgb(70, 70, 70);
} */

body {
    font-family: "Open Sans", sans-serif;
    position: relative;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section {
    position: relative;
    z-index: 16;
}

.disabled {
    pointer-events: none;
    user-select: none;
    opacity: .2;
}

#servicios,
#sobre-nosotros {
    margin: 4em 2em;
}

#sobre-nosotros > article > div > header h3,
#servicios > header h3,
#contacto > section > aside > header > h3 {
    font-size: 1.75em;
}


/*----------NAVBAR STYLES----------*/

body > header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 32;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 2em;
    background-color: white;
    transition: 1s all;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 32;
}

.navbar.top {
    background-color: transparent;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.navbar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul li a {
    color: black;
    transition: all 0.5s;
    text-align: center;
}

.navbar.top ul li a{
    color: white;
}

.footer .footer-links ul li a::after{
    content: "";
    width: 0.5em;
    height: 0.125em;
    background-color: transparent;
    transition: all 0.5s;
    display: block;
}

.footer .footer-links ul li a:hover::after{
    content: "";
    width: 1.5em;
    height: 0.125em;
    background-color: var(--secondary);
    display: block;
}

.navbar .navbar-logo {
    width: 13em;
}

.navbar .navbar-logo a{
    display: flex;
}

.navbar .navbar-buttons a{
    padding: 0.5em;
    background-color: var(--primary);
    color: white;
    border-radius: 1em;
    transition: all 0.5s;

    width: 7em;
    display: block;
    text-align: center;
}

.navbar .navbar-buttons a:hover {
    background-color: var(--secondary);
}

/*----------HOME----------*/


#inicio{
    position: relative;
}

#inicio figure {
    position: relative;
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.42) 17.31%, rgb(17, 17, 17) 101.85%), url("../images/banner.avif");
}

#inicio figcaption {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    backdrop-filter: brightness(.5);
}

#inicio figcaption article {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

#inicio .home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    color: white;
}

#inicio .home-text span {
    font-weight: bold;
    font-size: 3.5em;

}

#inicio .home-text em {
    font-size: 2em;
}

#inicio .home-text p {
    font-size: 1.125em;
}

#inicio figcaption article footer a{
    padding: 0.5em;
    text-transform: uppercase;
    color: white;
    background-color: var(--primary);
    border-radius: 1em;
}

/*----------SERVICIOS----------*/

#servicios,
#sobre-nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#servicios > header {
    text-align: center;
    margin: 2em 0;
}

#servicios > header h3 {
    font-weight: bolder;
}

#servicios > ul {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

#servicios .item {
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    min-height: 16em;

    display: flex;
    flex-direction: column;
}

#servicios .item > header {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;
    max-width: 12em;
    font-size: 1.125em;
}

#servicios .item > header span {
    font-size: 0.7em;
}

#servicios .item > article {
    flex-grow: 1;
}

#servicios .item > article > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#servicios .item > article > ul > li {
    display: flex;
    align-items: center;
}

#servicios .item > article > ul > li .check {
    background-color: #78e08f;
}

#servicios .item > article > ul > li > span{
    white-space: pre-wrap;
}

#servicios .item > footer {
    margin-top: 2em;
    text-align: center;
}

#servicios .item > footer > a {
    background-color: var(--primary);
    padding: .5em 1em;
    border-radius: 1em;
    font-weight: 600;
    color: white;
    transition: all 0.5s;
}

#servicios .item > footer > a:hover {
    background-color: var(--secondary);
}

/*----------SOBRE NOSOTROS----------*/

#sobre-nosotros{
    gap: 1em;
}

#sobre-nosotros > article {
    display: flex;
}

/* #sobre-nosotros > article > aside {
    padding: 1em;
} */

#sobre-nosotros > article > div {
    flex: 1;
    padding: 1em;
}

#sobre-nosotros > article > div > header {
    padding: 2em 0; 
}

#sobre-nosotros > article > div > header span {
    text-transform: uppercase;
    font-size: 0.75em;
}

#sobre-nosotros > article > div > header h3 {
    font-weight: bolder;
    margin-top: 0.25em;
}

#sobre-nosotros > footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5em;

    background-color: white;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

#sobre-nosotros > footer > header {
    text-align: center;
}

#sobre-nosotros > footer > header > strong {
    font-size: 1.75em;
}

#sobre-nosotros .personas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#sobre-nosotros .personas > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#sobre-nosotros .personas > li > header {
    width: 100%;
}

#sobre-nosotros .personas > li > header > img {
    display: block;
    background-color: gray;
    border-radius: 50%;
    border: 2px solid var(--primary);
}

#sobre-nosotros .personas article {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
}

#sobre-nosotros .personas li footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#sobre-nosotros .personas li footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#sobre-nosotros .personas li footer ul li {
  padding-inline: .25em
}

#sobre-nosotros .personas li footer a {
    background-color: gray;
    border-radius: .5em;
    padding: .5em 1.5em;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sobre-nosotros .personas li footer a > img,
#sobre-nosotros .personas li footer a > i {
    width: 1.25em;
    height: 1.25em;
}

#sobre-nosotros .personas li footer ul li:nth-child(2) a {
    background-color: blue;
}

#sobre-nosotros .personas li footer ul li:nth-child(3) a {
    background-color: red;
}

#sobre-nosotros .personas li footer ul li:nth-child(2) a:hover {
    background-color: rgb(93, 93, 255);
}

#sobre-nosotros .personas li footer ul li:nth-child(3) a:hover {
    background-color: rgb(255, 82, 82);
}

#sobre-nosotros .personas li footer a:hover {
    background-color: rgb(172, 172, 172);
}

/*----------CONTACTO----------*/

#contacto {
    position: relative;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.42) 17.31%, rgb(17, 17, 17) 101.85%), url('../images/contact.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 4em 2em;
}
  
#contacto  .contacto-container {
    margin-left: auto;
    margin-right: auto;
}
  
#contacto  .section-header {
    margin-bottom: 2em;
    text-align: start;
}
  
#contacto .section-header h2 {
    color: white;
    font-weight: bold;
    font-size: 1.75em;
}
  
#contacto .section-header p {
    color: white;
}
  
#contacto .row  {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}
  
#contacto .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
  
#contacto .contact-info-item {
    display: flex;
    align-items: center;
}
  
#contacto  .contact-info-icon {
    height: 4em;
    width: 4em;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#contacto  .contact-info-icon i {
    font-size: 1.5em;
    background-color: white;
}
  
#contacto .contact-info-content {
    margin-left: .75em;
}
  
#contacto  .contact-info-content h4 {
    color: white;
    font-size: 1.25em;
}
  
#contacto  .contact-info-content p {
    color: #FFF;
    font-size: 1em;
}
  
#contacto .contact-form {
    background-color: #fff;
    padding: 2em;
    width: 45%;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
  
#contacto .contact-form h2 {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 0.5em;
    color: #333;
}
  
#contacto .contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 0.5em;
}
  
#contacto .contact-form .input-box input,
#contacto .contact-form .input-box textarea{
    width: 100%;
    padding: 0.5em 0;
    font-size: 1em;
    margin: 0.5em 0;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    resize: none;
}
  
#contacto .contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 0.5em 0;
    font-size: 1em;
    margin: 0.5em 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
  
#contacto .contact-form .input-box input:focus ~ span,
#contacto .contact-form .input-box textarea:focus ~ span,
#contacto .contact-form .input-box textarea.input-active ~ span,
#contacto .contact-form .input-box input.input-active ~ span{
    color: var(--primary);
    font-size: 0.9em;
    transform: translateY(-1.5em);
}
  
#contacto .contact-form .input-box a
  {
    display: block;
    width: 100%;
    background: var(--primary);
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 0.75em;
    font-size: 1.125em;
    border: 1px solid var(--primary);
    transition: 0.5s;
    border-radius: 1em;
    text-align: center;
}
  
#contacto .contact-form .input-box a:hover
  {
    background: #FFF;
    color: #00bcd4;
  }

#contacto .contact-form .footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

#contacto .contact-form .footer > span {
    font-size: 0.9em;
    text-align: center;
    color: var(--primary);
    width: 100%;
}

#contacto .container-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contacto .container-mail > em {
    color: grey;
}

#contacto .container-mail > div {
    margin-block: .5em;
    display: flex;
}

#contacto .container-mail > div > label {
    background-color: rgb(236, 236, 236);
    border-radius: .5em;
    padding: 0.5em;
    margin-inline: .5em;
    font-weight: bolder;
    cursor: pointer;
    display: flex;

}

#contacto .container-mail > div > label img {
    width: 2em;
    height: 2em;
}

#contacto .container-mail > div > label.active {
    background-color: black;
}

#contacto .container-mail > div > label > input {
    display: none;
}

#contacto > section > aside > header > span {
    font-size: .9em;
}

#contacto .form > div > span {
    font-size: .9em;
}


/*----------FOOTER----------*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
}

.footer > section {
    display: flex;
    gap: 2em;
    width: 100%;
    padding: 2em 4em;
    justify-content: space-around;
    align-items: start;
}

.footer .footer-brand {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer .footer-brand > span {
    width: 20em;
}

.footer .footer-links,
.footer .footer-socials {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1em;
}

.footer .footer-links > ul,
.footer .footer-socials > ul{
    margin-top: 0.5em;
}

.footer .footer-links > em,
.footer .footer-socials > em{
    font-weight: bolder;
}

.footer .footer-socials ul{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.footer .footer-links a,
.footer .footer-socials a{
    display: flex;
    flex-direction: column;
}

.footer .footer-links ul li a {
    color: black;
    transition: all 0.5s;
    text-align: start;
}

.footer .footer-socials img {
    width: 2em;
}

.footer .copyright {
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    background-color: black;
}

.footer .copyright span {
    width: 100%;
    color: white;
}

/*animations*/

.start-animation svg {
    opacity: 0;
}

.start-animation.inView svg{
    transition: all 0.5s;
    animation: translate 1s ease-in-out;
    opacity: 1;
}

.start-animation.inView .animation1 {
    animation: anima-1 2s ease-in-out;
    transition: all 0.5s;
}

.start-animation.inView .animation2 {
    animation: anima-2 2s ease-in-out;
    transition: all 0.5s;
}

.start-animation.inView .animation3 {
    animation: anima-1 2s ease-in-out;
    transition: all 0.5s;
}

.start-animation.inView .animation4 {
    animation: anima-2 2s ease-in-out;
    transition: all 0.5s;
}

@keyframes anima-1 {
    0% {
        transform: translateX(10em);
    }
    100% {
        transform: translateX(0em);
    }
}

@keyframes anima-2 {
    0% {
        transform: translateX(-10em);
    }
    100% {
        transform: translateX(0em);
    }
}

@keyframes translate {
    0% {
        transform: translateX(-30em);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
