:root {
    --primary: #079992;
    --secondary: #38ada9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    position: relative;
    background-color: whitesmoke;
}

body.is-loading {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section {
    position: relative;
}

h3 {
    font-size: 2.5em;
}

.disabled {
    pointer-events: none;
    user-select: none;
    opacity: .2;
}

/* #servicios,
#sobre-nosotros,
#contacto,
#preguntas {
    z-index: 8;
} */

.ribbon {
    text-align: center;
    background-color: var(--primary);
    position: absolute;
    margin-top: -1em;
    margin-left: -1em;
    padding: 0.75em 2em;
    border-radius: .5em .5em 0 0;
    left: 0;
    right: 0;
    margin-right: -1em;
}

.ribbon::before,
.ribbon::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1.1em;
    border-style: solid;
    border-width: .5em;
}

.ribbon::before {
    left: 0;
    border-color: #065955 #065955 transparent transparent;
}

.ribbon::after {
    right: 0;
    border-color: #065955 transparent transparent #065955;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary);
    z-index: 100;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#preloader.hidden {
  animation: splash 3s ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.preloader {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#preloader.hidden .preloader{
    animation: splash2 2s ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.preloader > em {
    font-size: 1.5em;
    font-weight: bold;
    animation: preloader 2s ease-in-out infinite;
    color: black;
}

.preloader > div {
    display: flex;
    align-items: center;
}


.preloader > div > i {
    background-color: black;
    margin-left: .25em;
}

.preloader > div > span {
    margin-top: .25em;
    color: black;
}

.loader {
    width: fit-content;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    overflow: hidden;
    color: #0000;
    text-shadow: 0 0 0 #000,10ch 0 0 #000;
    background: linear-gradient(#000 0 0) bottom left/0% 3px no-repeat;
    animation: l14 1.5s infinite;
}
.loader:before {
    content: "Loading...";
}
@keyframes l14 {
      80%  {text-shadow:    0  0 0 #000,10ch 0 0 #000;background-size:100% 3px}
      100% {text-shadow: -10ch 0 0 #000,0    0 0 #000}
}

/*----------NAVBAR STYLES----------*/

body > header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 32;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    transition: 1s all;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 32;
}

.navbar.top {
    background-color: transparent;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.navbar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul li a {
    color: var(--primary);
    transition: all 0.5s;
    text-align: center;
    font-weight: bold;
}

.footer .footer-links ul li a::after{
    content: "";
    width: 0.5em;
    height: 0.125em;
    background-color: transparent;
    transition: all 0.5s;
    display: block;
}

.footer .footer-links ul li a:hover::after{
    content: "";
    width: 1.5em;
    height: 0.125em;
    background-color: black;
    display: block;
}

.navbar .navbar-logo {
    width: 13em;
}

.navbar .navbar-logo a{
    display: flex;
}

.navbar .navbar-logo a img{
    width: 6em;
}

.navbar .navbar-buttons a{
    padding: 0.5em;
    background-color: var(--primary);
    color: white;
    border-radius: 1em;
    transition: all 0.5s;

    width: 7em;
    display: block;
    text-align: center;
}

.navbar .navbar-buttons a:hover {
    background-color: #313131;
}

/*----------HOME----------*/


#inicio{
    position: relative;
}

#inicio figure {
    position: relative;
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.42) 17.31%, rgb(17, 17, 17) 101.85%), url("../images/banner.avif");
    background-attachment: fixed;
}

#inicio figcaption {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    backdrop-filter: brightness(.5);
}

#inicio figcaption article {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

#inicio .home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    color: white;
    cursor: default;
}

#inicio .home-text div {
    font-weight: bold;
    font-size: 3.25em;
    line-height: 1.25em;
}

#inicio .home-text em {
    font-size: 2em;
}

#inicio .home-text p {
    font-size: 1.125em;
    max-width: 40em;
}

#inicio figcaption article footer a{
    padding: 0.5em 1em;
    color: white;
    background-color: var(--primary);
    border-radius: 1em;
}

#inicio figcaption article footer a:hover {
    background-color: var(--secondary);
}

#inicio .word {
    color: var(--secondary);
    position: relative;
    background: -webkit-linear-gradient(#0b716c, #71fff8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

#inicio .word::after {
    content: "";
    position: relative;
    background-color: transparent;
    border-left: 2px solid var(--secondary);
    animation: cursor .8s infinite;
}

/*----------SERVICIOS----------*/

#servicios,
#sobre-nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#servicios > header {
    text-align: center;
    margin: 2em 0;
}

#servicios > header h3 {
    font-weight: bolder;
}

#servicios > ul {
    display: flex;
    align-items: stretch;
    margin-bottom: 2em;
}

#servicios .item {
    background-color: #313131;
    padding: 2em;
    border-radius: 1em;
    min-height: 16em;
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 22em;
}

#servicios .item > div > strong {
    font-size: 1.25em;
    color: white;
}

#servicios .item > header {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;
    align-items: center;
}

#servicios .item > header img{
    width: 12em;
}

#servicios .item > article {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#servicios .item > article > strong {
    font-size: 1.75em;
    font-weight: bolder;
    color: var(--primary);
}

#servicios .item > article > span {
    margin-top: .5em;
}

#servicios .item > article > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#servicios .item > article > ul > li {
    display: flex;
    align-items: center;
}

#servicios .item > article > ul > li .check {
    background-color: #78e08f;
}

#servicios .item > article > ul > li > span{
    white-space: pre-wrap;
}

#servicios .item > footer {
    margin-top: 2em;
    text-align: center;
}

#servicios .item > footer > label {
    background-color: var(--primary);
    padding: .5em 1em;
    border-radius: 1em;
    font-weight: 600;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

#servicios .item > footer > label:hover {
    background-color: var(--secondary);
}

#servicios > footer > label {
    font-size: 1.25em;
}

#servicios .modal {
    display: none;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 64;
}

#servicios input {
    display: none;
}

#servicios input:checked + .modal {
    display: flex;
}

#servicios .modal > ul {
    padding: 2em;
    background-color: #313131;
    border-radius: 0.5em;
    color: white;
    z-index: 64;
    position: relative;
    animation: popup 1s ease-in-out ;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
} 

#servicios .modal > ul > li {
    display: flex;
    align-items: center;
    gap: 0.5em;
} 

#servicios .modal > ul > li:first-child {
    justify-content: space-between;
}

#servicios .modal > ul > li:first-child i {
    background-color: white;
}

#servicios .modal > ul > li .check {
    background-color: var(--primary);
}

#servicios .modal > ul label {
    cursor: pointer;
}

#servicios .modal .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .5;
    height: 100vh;
}

/*----------SOBRE NOSOTROS----------*/

#sobre-nosotros{
    gap: 1em;
}

#sobre-nosotros > article {
    display: flex;
}

#sobre-nosotros > div {
    width: 100%;
    padding-bottom: 2em;
    cursor: default;
}

#sobre-nosotros > div > ul {
    display: grid;
}

#sobre-nosotros .step > div {
    display: grid;
}

#sobre-nosotros .step > div > div {
    grid-area: 1 / 1 / 2 / 2;
}

#sobre-nosotros .step > div > div > p {
    font-weight: bolder;
}

#sobre-nosotros .step > div > p {
    font-size: 11em;
    font-weight: bolder;
    opacity: .3;
    grid-area: 1 / 1 / 2 / 2;
    color: var(--primary);
}

#sobre-nosotros .step:nth-child(2) > div > p {
    color: #313131;
}

#sobre-nosotros > article > div {
    flex: 1;
    padding: 1em;
}

#sobre-nosotros > article > div > header {
    padding-top: 1em; 
}

#sobre-nosotros > article > div > header span {
    text-transform: uppercase;
    font-size: 0.75em;
}

#sobre-nosotros > article > div > header h3 {
    font-weight: bolder;
    margin-bottom: 0.25em;
}

#sobre-nosotros > footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    margin-top: 1em;
    background-color: #313131;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0px 8px 13px 2px #07999280;
    position: relative;
}

#sobre-nosotros > footer > header > strong {
    font-size: 1.75em;
    line-height: 1em;
    color: white;
}

#sobre-nosotros .personas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#sobre-nosotros .personas > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    color: white;
}

#sobre-nosotros .personas > li > header {
    width: 100%;
}

#sobre-nosotros .personas > li > header > img {
    display: block;
    background-color: gray;
    border-radius: 50%;
    border: 2px solid var(--primary);
}

#sobre-nosotros .personas article {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
}

#sobre-nosotros .personas article > strong {
    font-size: 1.25em;
}

#sobre-nosotros .personas li footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#sobre-nosotros .personas li footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#sobre-nosotros .personas li footer ul li {
  padding-inline: .25em
}

#sobre-nosotros .personas li footer a {
    background-color: gray;
    border-radius: .5em;
    padding: .5em 1.5em;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sobre-nosotros .personas li footer a > img,
#sobre-nosotros .personas li footer a > i {
    width: 1.25em;
    height: 1.25em;
}

#sobre-nosotros .personas li footer ul li:nth-child(2) a {
    background-color: #0077B5;
}

#sobre-nosotros .personas li footer ul li:nth-child(3) a {
    background-color: red;
}

#sobre-nosotros .personas li footer ul li:nth-child(2) a:hover {
    background-color: #008ad4;
}

#sobre-nosotros .personas li footer ul li:nth-child(3) a:hover {
    background-color: rgb(255, 82, 82);
}

#sobre-nosotros .personas li footer ul li:nth-child(2) a i,
#sobre-nosotros .personas li footer ul li:nth-child(3) a i {
    background-color: white;
}

#sobre-nosotros .personas li footer a:hover {
    background-color: rgb(172, 172, 172);
}

/*----------FAQ----------*/

#preguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#preguntas header {
    text-align: center;
}

#preguntas > div {
    border-radius: 1em;
    background-color: #313131;
    padding: 2em;
    width: 100%;
    margin-top: 1em;
    box-shadow: 0px 8px 13px 2px #07999280;
}

#preguntas > div > details {
    background-color: var(--primary);
    margin-block: 1em;
    border-radius: 1em;
    cursor: pointer;
}

#preguntas > div > details > summary {
    font-size: 1.25em;
    padding: 1em;
    margin-left: .5em;
    color: white;
}

#preguntas > div > details > p {
    padding: 1em;
    background-color: #0b716c;
    border-radius: 0 0 1em 1em;
    color: white;
}

/*----------CONTACTO----------*/

#contacto {
    position: relative;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.42) 17.31%, rgb(17, 17, 17) 101.85%), url('../images/contact.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 2em;
    padding: 4em 6em 4em 6em;
}
  
#contacto  .contacto-container {
    margin-left: auto;
    margin-right: auto;
}
  
#contacto  .section-header {
    margin-bottom: 2em;
    text-align: start;
}
  
#contacto .section-header h2 {
    color: white;
    font-weight: bold;
    font-size: 1.75em;
}
  
#contacto .section-header p {
    color: white;
}
  
#contacto .row  {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}
  
#contacto .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
  
#contacto .contact-info-item {
    display: flex;
    align-items: center;
}
  
#contacto  .contact-info-icon {
    height: 4em;
    width: 4em;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#contacto  .contact-info-icon i {
    font-size: 1.5em;
    background-color: white;
}
  
#contacto .contact-info-content {
    margin-left: .75em;
}
  
#contacto  .contact-info-content h4 {
    color: white;
    font-size: 1.25em;
}
  
#contacto  .contact-info-content p {
    color: #FFF;
    font-size: 1em;
}
  
#contacto .contact-form {
    background-color: #fff;
    padding: 2em;
    width: 45%;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

#contacto .contact-form > form {
    margin-top: 3em;
}
  
#contacto .contact-form h2 {
    font-weight: bold;
    font-size: 1.25em;
    color: white;
}
  
#contacto .contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 0.5em;
}
  
#contacto .contact-form .input-box input,
#contacto .contact-form .input-box textarea{
    width: 100%;
    padding: 0.5em 0;
    font-size: 1em;
    margin: 0.5em 0;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    resize: none;
    font-family: "Open Sans", sans-serif;
}
  
#contacto .contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 0.5em 0;
    font-size: 1em;
    margin: 0.5em 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
  
#contacto .contact-form .input-box input:focus ~ span,
#contacto .contact-form .input-box textarea:focus ~ span,
#contacto .contact-form .input-box textarea.input-active ~ span,
#contacto .contact-form .input-box input.input-active ~ span{
    color: var(--primary);
    font-size: 0.9em;
    transform: translateY(-1.5em);
}
  
#contacto .contact-form .input-box a {
    display: block;
    width: 100%;
    background: var(--primary);
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 0.75em;
    font-size: 1.125em;
    border: 1px solid var(--primary);
    transition: 0.5s;
    border-radius: 1em;
    text-align: center;
}
  
#contacto .contact-form .input-box a:hover
  {
    background: #FFF;
    color: #00bcd4;
  }

#contacto .contact-form .contact-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

#contacto .contact-form .contact-footer > span {
    font-size: 0.9em;
    text-align: center;
    color: var(--primary);
    width: 100%;
}

#contacto .container-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contacto .container-mail > em {
    color: grey;
}

#contacto .container-mail > div {
    margin-block: .5em;
    display: flex;
}

#contacto .container-mail > div > label {
    background-color: rgb(236, 236, 236);
    border-radius: .5em;
    padding: 0.5em;
    margin-inline: .5em;
    font-weight: bolder;
    cursor: pointer;
    display: flex;

}

#contacto .container-mail > div > label img {
    width: 2em;
    height: 2em;
}

#contacto .container-mail > div > label.active {
    background-color: black;
}

#contacto .container-mail > div > label > input {
    display: none;
}

#contacto > section > aside > header > span {
    font-size: .9em;
}

#contacto .form > div > span {
    font-size: .9em;
}


/*----------FOOTER----------*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.footer > section {
    display: flex;
    gap: 2em;
    width: 100%;
    padding: 2em 4em;
    justify-content: space-around;
    align-items: start;
}

.footer .footer-brand {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer .footer-brand > img {
    width: 10em;
}

.footer .footer-links,
.footer .footer-socials {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1em;
}

.footer .footer-links > ul,
.footer .footer-socials > ul{
    margin-top: 0.5em;
}

.footer .footer-links > em,
.footer .footer-socials > em{
    font-weight: bolder;
    font-size: 1.25em;
    color: var(--primary);
}

.footer .footer-socials ul{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.footer .footer-links a,
.footer .footer-socials a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .footer-links ul li a {
    color: black;
    transition: all 0.5s;
    text-align: center;
}

.footer .footer-socials img {
    width: 2em;
}

.footer .copyright {
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    background-color: var(--primary);
}

.footer .copyright span {
    width: 100%;
    color: black;
    font-weight: bolder;
    font-size: .75em;
}

/*animations*/

.start-animation svg {
    opacity: 0;
}

.start-animation.inView svg{
    transition: all 0.5s;
    animation: translate 1s ease-in-out;
    opacity: 1;
}

.start-animation.inView .animation1 {
    animation: anima-1 2s ease-in-out;
    transition: all 0.5s;
}

.start-animation.inView .animation2 {
    animation: anima-2 2s ease-in-out;
    transition: all 0.5s;
}

.start-animation.inView .animation3 {
    animation: anima-1 2s ease-in-out;
    transition: all 0.5s;
}

.start-animation.inView .animation4 {
    animation: anima-2 2s ease-in-out;
    transition: all 0.5s;
}


@keyframes popup {
    0% {
        transform: translateY(2em);
        opacity: .7;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes anima-1 {
    0% {
        transform: translateX(10em);
    }
    100% {
        transform: translateX(0em);
    }
}

@keyframes anima-2 {
    0% {
        transform: translateX(-10em);
    }
    100% {
        transform: translateX(0em);
    }
}

@keyframes translate {
    0% {
        transform: translateX(-30em);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes cursor {
    to {
        border-left: 2px solid #38ada900;
    }
}

@keyframes preloader {
    0% {
        opacity: .2;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(-.125em);
    }
    100% {
        opacity: .2;
        transform: translateY(0);
    }
}

@keyframes splash {
    0% {
      transform: translate(0%,0%);
    }
    50% {
      transform: translate(0%,0%);
    }
    75% {
        opacity: .9;
    }
    80% {
        opacity: .8;
    }
    85% {
        opacity: .7;
    }
    90% {
        opacity: .6;
    }
    95% {
        opacity: .5;
    }
    100% {
      transform: translate(0%,-100%);
      opacity: .4;
    }
}

@keyframes splash2 {
    0% {
      transform: translate(0%,0%);
    }
    50% {
      transform: translate(0%,50%);
    }
    100% {
      transform: translate(0%,-100%);
    }
}